{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">Formulaire Produit dans le Panier</h2>
    <form method="post">
        {% csrf_token %}
        
        <!-- Champ Panier -->
        <div class="mb-3">
            <label for="{{ form.cart.id_for_label }}" class="form-label">Panier</label>
            {{ form.cart }}
            {% if form.cart.errors %}
            <div class="alert alert-danger">
                {{ form.cart.errors }}
            </div>
            {% endif %}
        </div>

        <!-- Champ Produit -->
        <div class="mb-3">
            <label for="{{ form.product.id_for_label }}" class="form-label">Produit</label>
            {{ form.product }}
            {% if form.product.errors %}
            <div class="alert alert-danger">
                {{ form.product.errors }}
            </div>
            {% endif %}
        </div>

        <!-- Champ Pondération -->
        <div class="mb-3">
            <label for="{{ form.weighting.id_for_label }}" class="form-label">Pondération (%)</label>
            {{ form.weighting }}
            {% if form.weighting.errors %}
            <div class="alert alert-danger">
                {{ form.weighting.errors }}
            </div>
            {% endif %}
        </div>

        <!-- Champ Date de Début -->
        <div class="mb-3">
            <label for="{{ form.date_from.id_for_label }}" class="form-label">Date de Début</label>
            {{ form.date_from }}
            {% if form.date_from.errors %}
            <div class="alert alert-danger">
                {{ form.date_from.errors }}
            </div>
            {% endif %}
        </div>

        <!-- Champ Date de Fin -->
        <div class="mb-3">
            <label for="{{ form.date_to.id_for_label }}" class="form-label">Date de Fin</label>
            {{ form.date_to }}
            {% if form.date_to.errors %}
            <div class="alert alert-danger">
                {{ form.date_to.errors }}
            </div>
            {% endif %}
        </div>

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <!-- Bouton Soumettre -->
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
</div>
{% endblock %}