{% extends "base.html" %}

{% block content %}
  <h2>Liste des Paniers</h2>
  <a href="{% url 'panier_create' %}">Ajouter un Panier</a>
  <table>
    <tr>
      <th>Nom</th>
      <th>Code</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    {% for panier in object_list %}
      <tr>
        <td>{{ panier.name }}</td>
        <td>{{ panier.code }}</td>
        <td>{{ panier.description }}</td>
        <td>
          <a href="{% url 'panier_update' panier.pk %}">Modifier</a>
          <a href="{% url 'panier_delete' panier.pk %}">Supprimer</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
