{% extends "base.html" %}

{% block content %}
  <h2>Liste des Points de Vente</h2>
  <a href="{% url 'point_of_sale_create' %}" class="btn btn-success mb-3">Ajouter un Point de Vente</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Code</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for point_de_vente in object_list %}
        <tr>
          <td>{{ point_de_vente.name }}</td>
          <td>{{ point_de_vente.code }}</td>
          <td>{{ point_de_vente.type }}</td>
          <td>
            <a href="{% url 'point_of_sale_modifier' point_de_vente.pk %}" class="btn btn-primary btn-sm">Modifier</a>
            <a href="{% url 'point_of_sale_supprimer' point_de_vente.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
