{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">Liste des Points de Vente</h2>
    <a href="{% url 'point_of_sale_create' %}" class="btn btn-primary mb-3">Ajouter</a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Type</th>
                <th>GPS Latitude</th>
                <th>GPS Longitude</th>
                <th>Commune</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for point_of_sale in object_list %}
            <tr>
                <td>{{ point_of_sale.code }}</td>
                <td>{{ point_of_sale.type }}</td>
                <td>{{ point_of_sale.gps_lat }}</td>
                <td>{{ point_of_sale.gps_lon }}</td>
                <td>{{ point_of_sale.commune.name }}</td>
                <td>
                    <a href="{% url 'point_of_sale_modifier' point_of_sale.pk %}" class="btn btn-warning btn-sm">
                        <i class="fas fa-pencil"></i> Modifier
                    </a>
                    <a href="{% url 'point_of_sale_supprimer' point_of_sale.pk %}" class="btn btn-danger btn-sm">
                        <i class="fas fa-eraser"></i> Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
