{% extends "base.html" %}

{% block content %}
  <h2>Liste des Communes</h2>
  <a href="{% url 'commune_create' %}">Ajouter une Commune</a>
  <table>
    <tr>
      <th>Code</th>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
    {% for commune in object_list %}
      <tr>
        <td>{{ commune.code }}</td>
        <td>{{ commune.name }}</td>
        <td>
          <a href="{% url 'commune_modifier' commune.pk %}">Modifier</a>
          <a href="{% url 'commune_supprimer' commune.pk %}">Supprimer</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
