{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">Liste des Communes</h2>
    <a href="{% url 'commune_create' %}" class="btn btn-primary mb-3">Ajouter</a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Moughataa</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for commune in object_list %}
            <tr>
                <td>{{ commune.code }}</td>
                <td>{{ commune.name }}</td>
                <td>{{ commune.moughataa.label }}</td>
                <td>
                    <a href="{% url 'commune_modifier' commune.pk %}" class="btn btn-warning btn-sm">
                        <i class="fas fa-pencil"></i> Modifier
                    </a>
                    <a href="{% url 'commune_supprimer' commune.pk %}" class="btn btn-danger btn-sm">
                        <i class="fas fa-eraser"></i> Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}