{% extends "base.html" %}

{% block content %}
  <h2>Liste des Types de Produit</h2>
  <a href="{% url 'type_de_produit_create' %}">Ajouter un Type de Produit</a>
  <table>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
    {% for type_de_produit in object_list %}
      <tr>
        <td>{{ type_de_produit.id }}</td>
        <td>{{ type_de_produit.label }}</td>
        <td>
          <a href="{% url 'type_de_produit_modifier' type_de_produit.pk %}">Modifier</a>
          <a href="{% url 'type_de_produit_supprimer' type_de_produit.pk %}">Supprimer</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
