{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">Confirmer la suppression</h2>
    <form method="post">
        {% csrf_token %}
        <p class="mb-3">Êtes-vous sûr de vouloir supprimer cette Wilaya ?</p>
        
        <!-- Bouton "Oui" -->
        <button type="submit" class="btn btn-danger">Oui</button>
        
        <!-- Lien "Annuler" -->
        <a href="{% url 'wilaya_liste' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}